body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  min-height: 100vh;
}
.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.dashboard {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.card {
  flex: 1;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.form input {
  flex: 1;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 6px;
}
.form button {
  /* padding: 10px 18px; */
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background: blue;
  color: white;
  font-size: 10px;
  border-radius: 6px;
  cursor: pointer;
}
.form button:hover {
  background: #43a047;
}

.gap{
  height: 20px;
  width: 20px;

}
table {
  width: 100%;
  border-collapse: collapse;
}
thead {
  background: #4CAF50;
  
  color: white;
}
th, td {
  padding: 12px;
  text-align: center;
}
tbody tr:hover {
  background: #f1f1f1;
}
.delete-btn {
  background: #e53935;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.delete-btn:hover {
  background: #c62828;
}  

